.teacherContainer {
    display: flex;
    width: 70%;
    flex-direction: row;
}

.teacherImg {
    width: 18%;
}

.message {
    margin: 3% 0% 0% -4%;
    padding: 4% 6% 0% 9%;
    background: url('../img/message.png');
    width: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 1.3vw;
}